/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 24 mar. 2022, 12:54:20
    Author     : aaxlc
*/

body {
  background-color: black;
}
h1 {
    font-family: 'Special Elite', cursive; 
  color: whitesmoke;
}
h3 {
    color: whitesmoke; 
}
p {
    font-family: 'EB Garamond', serif;
  color: whitesmoke;
}

.button{
    display: block;
    margin:0 auto; 
}


.leftMidle {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
}

div.c {
  text-align: justify;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

ol.color
{
  color: white;   
}

li
{
    background: #ff9999;
  padding: 20px;
}

form
{
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}